<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>.</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string>{0,0}</string>
    <key>textureRect</key>
    <string>{{0,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>..</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string>{0,0}</string>
    <key>textureRect</key>
    <string>{{2,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_bonus_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,142}</string>
    <key>spriteSourceSize</key>
    <string>{101,103}</string>
    <key>textureRect</key>
    <string>{{0,2},{148,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_bonus_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{237,248}</string>
    <key>spriteSourceSize</key>
    <string>{103,103}</string>
    <key>textureRect</key>
    <string>{{0,146},{237,248}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_chaos_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,142}</string>
    <key>spriteSourceSize</key>
    <string>{101,103}</string>
    <key>textureRect</key>
    <string>{{150,2},{148,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_chaos_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,240}</string>
    <key>spriteSourceSize</key>
    <string>{99,101}</string>
    <key>textureRect</key>
    <string>{{239,146},{236,240}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_crystal_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,142}</string>
    <key>spriteSourceSize</key>
    <string>{99,100}</string>
    <key>textureRect</key>
    <string>{{300,2},{148,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_crystal_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{237,232}</string>
    <key>spriteSourceSize</key>
    <string>{101,95}</string>
    <key>textureRect</key>
    <string>{{0,396},{237,232}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_death_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,142}</string>
    <key>spriteSourceSize</key>
    <string>{99,114}</string>
    <key>textureRect</key>
    <string>{{450,2},{148,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_death_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,274}</string>
    <key>spriteSourceSize</key>
    <string>{100,115}</string>
    <key>textureRect</key>
    <string>{{0,630},{236,274}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_demon_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,142}</string>
    <key>spriteSourceSize</key>
    <string>{99,106}</string>
    <key>textureRect</key>
    <string>{{239,396},{148,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_demon_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{235,250}</string>
    <key>spriteSourceSize</key>
    <string>{99,105}</string>
    <key>textureRect</key>
    <string>{{238,630},{235,250}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_doom_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,142}</string>
    <key>spriteSourceSize</key>
    <string>{98,112}</string>
    <key>textureRect</key>
    <string>{{389,396},{148,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_doom_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{235,266}</string>
    <key>spriteSourceSize</key>
    <string>{98,112}</string>
    <key>textureRect</key>
    <string>{{475,630},{235,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_fire_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,142}</string>
    <key>spriteSourceSize</key>
    <string>{100,103}</string>
    <key>textureRect</key>
    <string>{{600,2},{148,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_fire_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{238,242}</string>
    <key>spriteSourceSize</key>
    <string>{99,104}</string>
    <key>textureRect</key>
    <string>{{477,146},{238,242}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_ice_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,142}</string>
    <key>spriteSourceSize</key>
    <string>{100,95}</string>
    <key>textureRect</key>
    <string>{{750,2},{148,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_ice_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{238,226}</string>
    <key>spriteSourceSize</key>
    <string>{99,95}</string>
    <key>textureRect</key>
    <string>{{539,396},{238,226}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_lava_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,142}</string>
    <key>spriteSourceSize</key>
    <string>{101,109}</string>
    <key>textureRect</key>
    <string>{{900,2},{148,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_lava_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{239,264}</string>
    <key>spriteSourceSize</key>
    <string>{100,111}</string>
    <key>textureRect</key>
    <string>{{712,630},{239,264}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_magic_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,142}</string>
    <key>spriteSourceSize</key>
    <string>{99,104}</string>
    <key>textureRect</key>
    <string>{{1050,2},{148,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_magic_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{237,252}</string>
    <key>spriteSourceSize</key>
    <string>{99,106}</string>
    <key>textureRect</key>
    <string>{{953,630},{237,252}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_monster_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,142}</string>
    <key>spriteSourceSize</key>
    <string>{100,112}</string>
    <key>textureRect</key>
    <string>{{779,396},{148,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_monster_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{237,258}</string>
    <key>spriteSourceSize</key>
    <string>{99,108}</string>
    <key>textureRect</key>
    <string>{{0,906},{237,258}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{162,143}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{929,396},{162,143}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new01_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,246}</string>
    <key>spriteSourceSize</key>
    <string>{105,105}</string>
    <key>textureRect</key>
    <string>{{717,146},{236,246}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{168,152}</string>
    <key>spriteSourceSize</key>
    <string>{95,106}</string>
    <key>textureRect</key>
    <string>{{955,146},{168,152}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new02_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,246}</string>
    <key>spriteSourceSize</key>
    <string>{95,106}</string>
    <key>textureRect</key>
    <string>{{239,906},{236,246}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{156,140}</string>
    <key>spriteSourceSize</key>
    <string>{101,104}</string>
    <key>textureRect</key>
    <string>{{477,906},{156,140}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new03_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{0,1166},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,141}</string>
    <key>spriteSourceSize</key>
    <string>{100,107}</string>
    <key>textureRect</key>
    <string>{{635,906},{148,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new04_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{238,1166},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new05_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{130,135}</string>
    <key>spriteSourceSize</key>
    <string>{95,100}</string>
    <key>textureRect</key>
    <string>{{785,906},{130,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new05_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{476,1166},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new06_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{154,135}</string>
    <key>spriteSourceSize</key>
    <string>{99,99}</string>
    <key>textureRect</key>
    <string>{{917,906},{154,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new06_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{714,1166},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new07_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{158,186}</string>
    <key>spriteSourceSize</key>
    <string>{96,135}</string>
    <key>textureRect</key>
    <string>{{952,1166},{158,186}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new07_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{0,1479},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new08_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{159,142}</string>
    <key>spriteSourceSize</key>
    <string>{101,105}</string>
    <key>textureRect</key>
    <string>{{238,1479},{159,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new08_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{399,1479},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new09_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,149}</string>
    <key>spriteSourceSize</key>
    <string>{100,112}</string>
    <key>textureRect</key>
    <string>{{637,1479},{149,149}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new09_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{788,1479},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new10_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{141,156}</string>
    <key>spriteSourceSize</key>
    <string>{102,117}</string>
    <key>textureRect</key>
    <string>{{1026,1479},{141,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new10_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{0,1792},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new11_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{146,146}</string>
    <key>spriteSourceSize</key>
    <string>{97,109}</string>
    <key>textureRect</key>
    <string>{{238,1792},{146,146}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new11_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{386,1792},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new12_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,142}</string>
    <key>spriteSourceSize</key>
    <string>{97,102}</string>
    <key>textureRect</key>
    <string>{{624,1792},{149,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new12_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{775,1792},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new13_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{140,136}</string>
    <key>spriteSourceSize</key>
    <string>{103,102}</string>
    <key>textureRect</key>
    <string>{{1013,1792},{140,136}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new13_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{1112,1166},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new14_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{139,147}</string>
    <key>spriteSourceSize</key>
    <string>{139,147}</string>
    <key>textureRect</key>
    <string>{{1093,396},{139,147}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new14_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{1350,1166},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new15_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{141,148}</string>
    <key>spriteSourceSize</key>
    <string>{95,104}</string>
    <key>textureRect</key>
    <string>{{1234,396},{141,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new15_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{1588,1166},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new16_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{147,151}</string>
    <key>spriteSourceSize</key>
    <string>{99,113}</string>
    <key>textureRect</key>
    <string>{{1377,396},{147,151}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new16_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{1826,1166},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new17_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,156}</string>
    <key>spriteSourceSize</key>
    <string>{94,110}</string>
    <key>textureRect</key>
    <string>{{1526,396},{149,156}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new17_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{2064,1166},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new18_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{147,151}</string>
    <key>spriteSourceSize</key>
    <string>{96,100}</string>
    <key>textureRect</key>
    <string>{{1677,396},{147,151}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new18_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{1169,1479},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new19_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{156,148}</string>
    <key>spriteSourceSize</key>
    <string>{96,107}</string>
    <key>textureRect</key>
    <string>{{1826,396},{156,148}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new19_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{1407,1479},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new20_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{130,135}</string>
    <key>spriteSourceSize</key>
    <string>{111,120}</string>
    <key>textureRect</key>
    <string>{{1200,2},{130,135}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new20_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{1645,1479},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new21_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{142,160}</string>
    <key>spriteSourceSize</key>
    <string>{97,118}</string>
    <key>textureRect</key>
    <string>{{1984,396},{142,160}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new21_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{1883,1479},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new22_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{147,141}</string>
    <key>spriteSourceSize</key>
    <string>{99,102}</string>
    <key>textureRect</key>
    <string>{{1332,2},{147,141}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new22_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{2121,1479},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new23_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{154,166}</string>
    <key>spriteSourceSize</key>
    <string>{97,121}</string>
    <key>textureRect</key>
    <string>{{2128,396},{154,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new23_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{1155,1792},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new24_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,155}</string>
    <key>spriteSourceSize</key>
    <string>{99,100}</string>
    <key>textureRect</key>
    <string>{{1125,146},{148,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new24_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{1393,1792},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new25_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,153}</string>
    <key>spriteSourceSize</key>
    <string>{96,105}</string>
    <key>textureRect</key>
    <string>{{1275,146},{149,153}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new25_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{1631,1792},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new26_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{159,161}</string>
    <key>spriteSourceSize</key>
    <string>{102,105}</string>
    <key>textureRect</key>
    <string>{{1426,146},{159,161}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new26_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{1869,1792},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new27_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{159,155}</string>
    <key>spriteSourceSize</key>
    <string>{102,111}</string>
    <key>textureRect</key>
    <string>{{1587,146},{159,155}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new27_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{2107,1792},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new28_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{164,183}</string>
    <key>spriteSourceSize</key>
    <string>{103,131}</string>
    <key>textureRect</key>
    <string>{{1748,146},{164,183}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new28_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{0,2105},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new29_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{150,139}</string>
    <key>spriteSourceSize</key>
    <string>{99,97}</string>
    <key>textureRect</key>
    <string>{{1481,2},{150,139}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new29_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{238,2105},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new30_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,151}</string>
    <key>spriteSourceSize</key>
    <string>{97,96}</string>
    <key>textureRect</key>
    <string>{{1914,146},{149,151}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new30_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{476,2105},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new31_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{714,2105},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new32_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{952,2105},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new33_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{1190,2105},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new34_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{1428,2105},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_new35_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,311}</string>
    <key>spriteSourceSize</key>
    <string>{236,311}</string>
    <key>textureRect</key>
    <string>{{1666,2105},{236,311}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_poison_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,142}</string>
    <key>spriteSourceSize</key>
    <string>{98,104}</string>
    <key>textureRect</key>
    <string>{{1633,2},{148,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_poison_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,246}</string>
    <key>spriteSourceSize</key>
    <string>{100,103}</string>
    <key>textureRect</key>
    <string>{{2065,146},{236,246}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_shadow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,142}</string>
    <key>spriteSourceSize</key>
    <string>{100,91}</string>
    <key>textureRect</key>
    <string>{{1783,2},{148,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_shadow_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{236,216}</string>
    <key>spriteSourceSize</key>
    <string>{102,93}</string>
    <key>textureRect</key>
    <string>{{1073,906},{236,216}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_spike_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,142}</string>
    <key>spriteSourceSize</key>
    <string>{98,116}</string>
    <key>textureRect</key>
    <string>{{1933,2},{148,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_spike_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{237,274}</string>
    <key>spriteSourceSize</key>
    <string>{100,114}</string>
    <key>textureRect</key>
    <string>{{1192,630},{237,274}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_time_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{148,142}</string>
    <key>spriteSourceSize</key>
    <string>{100,106}</string>
    <key>textureRect</key>
    <string>{{2083,2},{148,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>island_time_locked_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{237,256}</string>
    <key>spriteSourceSize</key>
    <string>{100,106}</string>
    <key>textureRect</key>
    <string>{{1311,906},{237,256}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>theLostGauntletsLabel_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{567,59}</string>
    <key>spriteSourceSize</key>
    <string>{523,55}</string>
    <key>textureRect</key>
    <string>{{1550,906},{567,59}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>pixelFormat</key>
   <string>RGBA4444</string>
   <key>premultiplyAlpha</key>
   <false/>
   <key>realTextureFileName</key>
   <string>GauntletSheet-hd.png</string>
   <key>size</key>
   <string>{2359,2418}</string>
   <key>smartupdate</key>
   <string>$none</string>
   <key>textureFileName</key>
   <string>GauntletSheet-hd.png</string>
  </dict>
 </dict>
</plist>
