<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>.</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>..</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{2,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_challengeBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-5}</string>
    <key>spriteSize</key>
    <string>{200,200}</string>
    <key>spriteSourceSize</key>
    <string>{210,210}</string>
    <key>textureRect</key>
    <string>{{0,306},{200,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_createBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-5}</string>
    <key>spriteSize</key>
    <string>{200,200}</string>
    <key>spriteSourceSize</key>
    <string>{210,210}</string>
    <key>textureRect</key>
    <string>{{202,306},{200,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_dailyBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-5}</string>
    <key>spriteSize</key>
    <string>{200,200}</string>
    <key>spriteSourceSize</key>
    <string>{210,210}</string>
    <key>textureRect</key>
    <string>{{404,306},{200,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_fameBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-5}</string>
    <key>spriteSize</key>
    <string>{200,200}</string>
    <key>spriteSourceSize</key>
    <string>{210,210}</string>
    <key>textureRect</key>
    <string>{{606,306},{200,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_featuredBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-5}</string>
    <key>spriteSize</key>
    <string>{200,200}</string>
    <key>spriteSourceSize</key>
    <string>{210,210}</string>
    <key>textureRect</key>
    <string>{{808,306},{200,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_gauntletsBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-5}</string>
    <key>spriteSize</key>
    <string>{200,200}</string>
    <key>spriteSourceSize</key>
    <string>{210,210}</string>
    <key>textureRect</key>
    <string>{{0,508},{200,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_highscoreBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-5}</string>
    <key>spriteSize</key>
    <string>{200,200}</string>
    <key>spriteSourceSize</key>
    <string>{210,210}</string>
    <key>textureRect</key>
    <string>{{202,508},{200,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_mapPacksBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-5}</string>
    <key>spriteSize</key>
    <string>{200,200}</string>
    <key>spriteSourceSize</key>
    <string>{210,210}</string>
    <key>textureRect</key>
    <string>{{404,508},{200,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_savedBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-5}</string>
    <key>spriteSize</key>
    <string>{200,200}</string>
    <key>spriteSourceSize</key>
    <string>{210,210}</string>
    <key>textureRect</key>
    <string>{{606,508},{200,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_searchBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-5}</string>
    <key>spriteSize</key>
    <string>{200,200}</string>
    <key>spriteSourceSize</key>
    <string>{210,210}</string>
    <key>textureRect</key>
    <string>{{808,508},{200,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_versusBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{210,210}</string>
    <key>spriteSourceSize</key>
    <string>{210,210}</string>
    <key>textureRect</key>
    <string>{{0,710},{210,210}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_watchReplay_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{2,-2}</string>
    <key>spriteSize</key>
    <string>{262,178}</string>
    <key>spriteSourceSize</key>
    <string>{266,182}</string>
    <key>textureRect</key>
    <string>{{212,710},{262,178}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_weeklyBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-5}</string>
    <key>spriteSize</key>
    <string>{200,200}</string>
    <key>spriteSourceSize</key>
    <string>{210,210}</string>
    <key>textureRect</key>
    <string>{{476,710},{200,200}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_01_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{64,82}</string>
    <key>spriteSourceSize</key>
    <string>{64,82}</string>
    <key>textureRect</key>
    <string>{{0,2},{64,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_02_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,108}</string>
    <key>spriteSourceSize</key>
    <string>{62,108}</string>
    <key>textureRect</key>
    <string>{{0,86},{62,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_03_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{96,108}</string>
    <key>spriteSourceSize</key>
    <string>{96,108}</string>
    <key>textureRect</key>
    <string>{{64,86},{96,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_04_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{126,108}</string>
    <key>spriteSourceSize</key>
    <string>{126,108}</string>
    <key>textureRect</key>
    <string>{{0,196},{126,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_05_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,104}</string>
    <key>spriteSourceSize</key>
    <string>{128,104}</string>
    <key>textureRect</key>
    <string>{{128,196},{128,104}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,1}</string>
    <key>spriteSize</key>
    <string>{90,88}</string>
    <key>spriteSourceSize</key>
    <string>{142,144}</string>
    <key>textureRect</key>
    <string>{{162,86},{90,88}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_002.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,4}</string>
    <key>spriteSize</key>
    <string>{118,110}</string>
    <key>spriteSourceSize</key>
    <string>{142,144}</string>
    <key>textureRect</key>
    <string>{{678,710},{118,110}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_003.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,5}</string>
    <key>spriteSize</key>
    <string>{124,122}</string>
    <key>spriteSourceSize</key>
    <string>{142,144}</string>
    <key>textureRect</key>
    <string>{{798,710},{124,122}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_004.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,4}</string>
    <key>spriteSize</key>
    <string>{128,128}</string>
    <key>spriteSourceSize</key>
    <string>{142,144}</string>
    <key>textureRect</key>
    <string>{{924,710},{128,128}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_005.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,4}</string>
    <key>spriteSize</key>
    <string>{130,130}</string>
    <key>spriteSourceSize</key>
    <string>{142,144}</string>
    <key>textureRect</key>
    <string>{{0,922},{130,130}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_006.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,4}</string>
    <key>spriteSize</key>
    <string>{134,136}</string>
    <key>spriteSourceSize</key>
    <string>{142,144}</string>
    <key>textureRect</key>
    <string>{{0,1054},{134,136}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_007.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,3}</string>
    <key>spriteSize</key>
    <string>{140,138}</string>
    <key>spriteSourceSize</key>
    <string>{142,144}</string>
    <key>textureRect</key>
    <string>{{0,1192},{140,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_008.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,3}</string>
    <key>spriteSize</key>
    <string>{142,138}</string>
    <key>spriteSourceSize</key>
    <string>{142,144}</string>
    <key>textureRect</key>
    <string>{{142,1192},{142,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_009.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,3}</string>
    <key>spriteSize</key>
    <string>{140,138}</string>
    <key>spriteSourceSize</key>
    <string>{142,144}</string>
    <key>textureRect</key>
    <string>{{286,1192},{140,138}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portal_01_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,0}</string>
    <key>spriteSize</key>
    <string>{54,142}</string>
    <key>spriteSourceSize</key>
    <string>{74,142}</string>
    <key>textureRect</key>
    <string>{{1010,306},{54,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portal_02_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,0}</string>
    <key>spriteSize</key>
    <string>{54,142}</string>
    <key>spriteSourceSize</key>
    <string>{74,142}</string>
    <key>textureRect</key>
    <string>{{1066,306},{54,142}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portal_03_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{80,166}</string>
    <key>spriteSourceSize</key>
    <string>{86,166}</string>
    <key>textureRect</key>
    <string>{{1122,306},{80,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portal_04_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{80,166}</string>
    <key>spriteSourceSize</key>
    <string>{86,166}</string>
    <key>textureRect</key>
    <string>{{1204,306},{80,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portal_05_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{94,178}</string>
    <key>spriteSourceSize</key>
    <string>{98,178}</string>
    <key>textureRect</key>
    <string>{{1286,306},{94,178}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portal_06_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,0}</string>
    <key>spriteSize</key>
    <string>{94,178}</string>
    <key>spriteSourceSize</key>
    <string>{98,178}</string>
    <key>textureRect</key>
    <string>{{1382,306},{94,178}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portal_07_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{80,166}</string>
    <key>spriteSourceSize</key>
    <string>{86,166}</string>
    <key>textureRect</key>
    <string>{{1478,306},{80,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portal_08_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,0}</string>
    <key>spriteSize</key>
    <string>{72,172}</string>
    <key>spriteSourceSize</key>
    <string>{90,172}</string>
    <key>textureRect</key>
    <string>{{1560,306},{72,172}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portal_09_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-9,0}</string>
    <key>spriteSize</key>
    <string>{72,172}</string>
    <key>spriteSourceSize</key>
    <string>{90,172}</string>
    <key>textureRect</key>
    <string>{{1634,306},{72,172}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portal_10_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{80,166}</string>
    <key>spriteSourceSize</key>
    <string>{86,166}</string>
    <key>textureRect</key>
    <string>{{1708,306},{80,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portal_11_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,174}</string>
    <key>spriteSourceSize</key>
    <string>{62,174}</string>
    <key>textureRect</key>
    <string>{{1790,306},{62,174}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portal_12_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,174}</string>
    <key>spriteSourceSize</key>
    <string>{62,174}</string>
    <key>textureRect</key>
    <string>{{1854,306},{62,174}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portal_13_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{80,166}</string>
    <key>spriteSourceSize</key>
    <string>{86,166}</string>
    <key>textureRect</key>
    <string>{{1918,306},{80,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portal_14_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,0}</string>
    <key>spriteSize</key>
    <string>{80,166}</string>
    <key>spriteSourceSize</key>
    <string>{86,166}</string>
    <key>textureRect</key>
    <string>{{2000,306},{80,166}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portal_15_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-16,0}</string>
    <key>spriteSize</key>
    <string>{50,176}</string>
    <key>spriteSourceSize</key>
    <string>{82,176}</string>
    <key>textureRect</key>
    <string>{{1010,508},{50,176}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portal_16_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-16,0}</string>
    <key>spriteSize</key>
    <string>{50,176}</string>
    <key>spriteSourceSize</key>
    <string>{82,176}</string>
    <key>textureRect</key>
    <string>{{1062,508},{50,176}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{6,1}</string>
    <key>spriteSize</key>
    <string>{424,38}</string>
    <key>spriteSourceSize</key>
    <string>{442,42}</string>
    <key>textureRect</key>
    <string>{{66,2},{424,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_002.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-8,0}</string>
    <key>spriteSize</key>
    <string>{396,42}</string>
    <key>spriteSourceSize</key>
    <string>{442,42}</string>
    <key>textureRect</key>
    <string>{{492,2},{396,42}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_003.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-60,1}</string>
    <key>spriteSize</key>
    <string>{300,38}</string>
    <key>spriteSourceSize</key>
    <string>{442,42}</string>
    <key>textureRect</key>
    <string>{{890,2},{300,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_004.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-93,2}</string>
    <key>spriteSize</key>
    <string>{238,38}</string>
    <key>spriteSourceSize</key>
    <string>{442,42}</string>
    <key>textureRect</key>
    <string>{{1192,2},{238,38}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_005.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-109,2}</string>
    <key>spriteSize</key>
    <string>{210,36}</string>
    <key>spriteSourceSize</key>
    <string>{442,42}</string>
    <key>textureRect</key>
    <string>{{1432,2},{210,36}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_006.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-143,2}</string>
    <key>spriteSize</key>
    <string>{142,34}</string>
    <key>spriteSourceSize</key>
    <string>{442,42}</string>
    <key>textureRect</key>
    <string>{{1644,2},{142,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_007.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-158,2}</string>
    <key>spriteSize</key>
    <string>{118,34}</string>
    <key>spriteSourceSize</key>
    <string>{442,42}</string>
    <key>textureRect</key>
    <string>{{1788,2},{118,34}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_008.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-196,3}</string>
    <key>spriteSize</key>
    <string>{44,30}</string>
    <key>spriteSourceSize</key>
    <string>{442,42}</string>
    <key>textureRect</key>
    <string>{{1908,2},{44,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>pixelFormat</key>
   <string>RGBA4444</string>
   <key>premultiplyAlpha</key>
   <false/>
   <key>realTextureFileName</key>
   <string>GJ_GameSheet04-hd.png</string>
   <key>size</key>
   <string>{2082,1332}</string>
   <key>smartupdate</key>
   <string>$none</string>
   <key>textureFileName</key>
   <string>GJ_GameSheet04-hd.png</string>
  </dict>
 </dict>
</plist>
