<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>.</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string>{0,0}</string>
    <key>textureRect</key>
    <string>{{0,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>..</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string>{0,0}</string>
    <key>textureRect</key>
    <string>{{2,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_LaunchSheet-hd.plist</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,2},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_lite_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{178,60}</string>
    <key>spriteSourceSize</key>
    <string>{178,60}</string>
    <key>textureRect</key>
    <string>{{0,4},{178,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_logo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{1032,123}</string>
    <key>spriteSourceSize</key>
    <string>{781,123}</string>
    <key>textureRect</key>
    <string>{{0,66},{1032,123}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_md_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{370,72}</string>
    <key>spriteSourceSize</key>
    <string>{370,72}</string>
    <key>textureRect</key>
    <string>{{1034,66},{370,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>RobTopLogoBig_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{294,108}</string>
    <key>spriteSourceSize</key>
    <string>{294,108}</string>
    <key>textureRect</key>
    <string>{{0,191},{294,108}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_subzeroLogo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{328,80}</string>
    <key>spriteSourceSize</key>
    <string>{328,80}</string>
    <key>textureRect</key>
    <string>{{1406,66},{328,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_worldLogo_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{268,80}</string>
    <key>spriteSourceSize</key>
    <string>{268,80}</string>
    <key>textureRect</key>
    <string>{{1736,66},{268,80}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>pixelFormat</key>
   <string>RGBA4444</string>
   <key>premultiplyAlpha</key>
   <false/>
   <key>realTextureFileName</key>
   <string>GJ_LaunchSheet-hd.png</string>
   <key>size</key>
   <string>{2006,301}</string>
   <key>smartupdate</key>
   <string>$none</string>
   <key>textureFileName</key>
   <string>GJ_LaunchSheet-hd.png</string>
  </dict>
 </dict>
</plist>
