<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>particle_00_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{71,199},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{124,75},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{126,36},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{130,1},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,32}</string>
			<key>spriteSourceSize</key>
			<string>{34,32}</string>
			<key>textureRect</key>
			<string>{{1,199},{34,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{124,108},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_06_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{126,141},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_07_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{143,174},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_08_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{157,69},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_09_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,32}</string>
			<key>spriteSourceSize</key>
			<string>{34,32}</string>
			<key>textureRect</key>
			<string>{{36,199},{34,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_10_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{159,34},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_11_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,34}</string>
			<key>spriteSourceSize</key>
			<string>{34,34}</string>
			<key>textureRect</key>
			<string>{{95,1},{34,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_12_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{163,1},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_13_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,46}</string>
			<key>spriteSourceSize</key>
			<string>{46,46}</string>
			<key>textureRect</key>
			<string>{{1,109},{46,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_14_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{157,102},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_15_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{159,135},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_16_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{176,168},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_17_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{190,67},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_18_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{192,34},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_19_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{196,1},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_20_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{40,40}</string>
			<key>textureRect</key>
			<string>{{48,109},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_21_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{190,100},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_22_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,42}</string>
			<key>textureRect</key>
			<string>{{1,156},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_23_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{192,133},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_24_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{223,67},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_25_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{225,34},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_26_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{229,1},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_27_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{223,100},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_28_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{24,24}</string>
			<key>spriteSourceSize</key>
			<string>{24,24}</string>
			<key>textureRect</key>
			<string>{{143,207},{24,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_29_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{209,166},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_30_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{225,133},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_31_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{209,199},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_32_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{256,67},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_33_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{258,34},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_34_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{262,1},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_35_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{256,100},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_36_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{295,1},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_37_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{328,1},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_38_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{242,166},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_39_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{176,201},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_40_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{50,50}</string>
			<key>textureRect</key>
			<string>{{1,58},{50,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_41_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,56}</string>
			<key>spriteSourceSize</key>
			<string>{56,56}</string>
			<key>textureRect</key>
			<string>{{1,1},{56,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_42_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{258,133},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_43_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,38}</string>
			<key>spriteSourceSize</key>
			<string>{38,38}</string>
			<key>textureRect</key>
			<string>{{87,150},{38,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_44_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{242,199},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_45_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{289,67},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_46_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{52,58},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_47_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{291,34},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_48_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{289,100},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_49_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,34}</string>
			<key>spriteSourceSize</key>
			<string>{34,34}</string>
			<key>textureRect</key>
			<string>{{89,75},{34,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_50_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{324,34},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_51_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{322,67},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_52_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{322,100},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_53_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{275,166},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_54_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{291,133},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_55_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{275,199},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_56_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{324,133},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_57_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{308,166},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_58_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,34}</string>
			<key>spriteSourceSize</key>
			<string>{34,34}</string>
			<key>textureRect</key>
			<string>{{89,110},{34,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_59_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{58,1},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_60_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{89,38},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_61_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,38}</string>
			<key>spriteSourceSize</key>
			<string>{38,38}</string>
			<key>textureRect</key>
			<string>{{104,189},{38,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_62_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,42}</string>
			<key>textureRect</key>
			<string>{{44,156},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>particle_63_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{308,199},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_ParticleSheet.png</string>
		<key>size</key>
		<string>{361,232}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1e94af3d7bc4c77fcafbd4829a621f4f:57a5d561618a03af0d3007f439f7b38a:ecb5ba649b13033182df15a83e63706c$</string>
		<key>textureFileName</key>
		<string>GJ_ParticleSheet.png</string>
	</dict>
</dict>
</plist>
