<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>.</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>..</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{2,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_001_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,8}</string>
    <key>spriteSourceSize</key>
    <string>{30,8}</string>
    <key>textureRect</key>
    <string>{{0,2},{30,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_001_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{30,8}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{32,2},{30,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_002_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,8}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,12},{32,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_002_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,8}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,22},{32,8}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_003_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,16}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,32},{32,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_003_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{1,1}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{34,12},{1,1}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_004_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,50},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_004_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{34,50},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_005_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,16}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{34,32},{32,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_005_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,16}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{68,32},{32,16}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_006_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{12,24}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{68,50},{12,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_006_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{12,24}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{82,50},{12,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_007_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{24,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{96,50},{24,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_007_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{24,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,84},{24,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_008_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{36,28}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{26,84},{36,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_008_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{36,28}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{64,84},{36,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_009_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,28}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,118},{32,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_009_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,28}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{34,118},{32,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_010_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{30,20}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{68,118},{30,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_010_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{30,20}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{100,118},{30,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_011_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{2,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{122,50},{2,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_011_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{2,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{126,50},{2,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_012_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{28,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{130,50},{28,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_012_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{28,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{160,50},{28,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_013_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{190,50},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_013_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{102,84},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_014_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{30,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{224,50},{30,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_014_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{30,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{136,84},{30,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_015_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{28,30}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{168,84},{28,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_015_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{28,30}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{198,84},{28,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_016_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{20,24}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{132,118},{20,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_016_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{1,1}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{64,2},{1,1}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_017_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{14,14}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{102,32},{14,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_017_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{14,14}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{118,32},{14,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_018_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{14,14}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{134,32},{14,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_018_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{14,14}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{150,32},{14,14}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_019_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{8,24}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{154,118},{8,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_019_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{8,24}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{164,118},{8,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_020_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{8,24}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{174,118},{8,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_020_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{8,24}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{184,118},{8,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_021_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{28,22}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{194,118},{28,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_021_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{28,22}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{224,118},{28,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_022_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,20}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,148},{32,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_022_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,20}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{34,148},{32,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_023_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,170},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_023_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{34,170},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_024_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{68,170},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_024_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{102,170},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_025_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{136,170},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_025_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{170,170},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_026_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{204,170},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_026_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,204},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_027_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{34,204},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_027_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{68,204},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_028_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{102,204},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_028_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{136,204},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_029_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{170,204},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_029_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{204,204},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_030_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,238},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_030_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,32}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{34,238},{32,32}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_031_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{48,60}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,272},{48,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_031_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{48,60}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{50,272},{48,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_032_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{48,60}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{100,272},{48,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_032_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{48,60}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{150,272},{48,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_033_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{48,60}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{200,272},{48,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_033_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{48,60}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{250,272},{48,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_034_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{48,60}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{300,272},{48,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_034_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{48,60}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{350,272},{48,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_035_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,28}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{254,118},{32,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_035_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,28}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{288,118},{32,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_036_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{30,20}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{68,148},{30,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_036_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{30,20}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{100,148},{30,20}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_037_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,24}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{322,118},{32,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_037_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{32,24}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{356,118},{32,24}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_038_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{30,12}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{166,32},{30,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelart_038_color_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{30,12}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{198,32},{30,12}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelb_03_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{22,22}</string>
    <key>spriteSourceSize</key>
    <string>{22,22}</string>
    <key>textureRect</key>
    <string>{{390,118},{22,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>pixelb_03_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{22,22}</string>
    <key>spriteSourceSize</key>
    <string>{22,22}</string>
    <key>textureRect</key>
    <string>{{414,118},{22,22}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>pixelFormat</key>
   <string>RGBA4444</string>
   <key>premultiplyAlpha</key>
   <false/>
   <key>realTextureFileName</key>
   <string>PixelSheet_01-hd.png</string>
   <key>size</key>
   <string>{438,334}</string>
   <key>smartupdate</key>
   <string>$none</string>
   <key>textureFileName</key>
   <string>PixelSheet_01-hd.png</string>
  </dict>
 </dict>
</plist>
